<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


  <div class="hero">
    <div class="hero-content">
      <h1>🔐 Защита сайта от современных уязвимостей</h1>
      <p>Реализовано безопасное взаимодействие между Angular и NestJS через шифрование RSA-OAEP и JWT-токены.</p>
      <a *ngIf="isAuthenticated()" [routerLink]="['/login']" class="btn-primary">Войти</a>
    </div>
  </div>
  
  <section class="features">
    <div class="feature-card">
      <h2>🧩 SQL-инъекции</h2>
      <p>SQL-инъекции — это метод атаки, при котором злоумышленник внедряет вредоносные SQL-запросы через форму входа или поиска.</p>
      <pre><code>SELECT * FROM users WHERE email = '{{ sqlExample }}'</code></pre>
      <p class="safe"><strong>Как защищается:</strong> Используется TypeORM, который автоматически экранирует запросы и не позволяет выполнить вредоносный SQL.</p>
    </div>

    <div class="feature-card">
      <h2>🛡️ XSS (межсайтовый скриптинг)</h2>
      <p>XSS — атака, при которой злоумышленник вставляет JS-скрипты в поля формы, которые потом исполняются в браузере.</p>
      <pre><code> {{xssExample}} </code></pre>
      <p class="safe"><strong>Как защищается:</strong> Используется интерполяция Angular и DOMPurify для очистки пользовательского ввода.</p>
    </div>

    <div class="feature-card">
      <h2>🚫 CSRF (межсайтовая подделка запроса)</h2>
      <p>CSRF — когда злоумышленник заставляет пользователя выполнять нежелательные действия на сайте, на котором он авторизован.</p>
      <pre><code> {{csrfExample}} </code></pre>
      <p class="safe"><strong>Как защищается:</strong> Используется JWT в заголовке Authorization и httpOnly куки для refresh_token</p>
    </div>
  </section>

