<h2>Вход</h2>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email" placeholder="Введите почту"/>
    <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error">
      Введите корректный email.
    </div>
  </div>

  <div>
    <label for="password">Пароль:</label>
    <input id="password" type="password" formControlName="password" placeholder="Введите пароль" />
    <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
      Пароль должен быть не менее 6 символов.
    </div>
  </div>

  <div *ngIf="error" class="error">{{ error }}</div>

  <button type="submit" [disabled]="loginForm.invalid">Войти</button>
</form>

<p>Нет аккаунта? <a routerLink="/register" style="pointer-events: auto;">Зарегистрируйтесь</a></p>
